/* general */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.screen-readers {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.container {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  outline: 1px solid orange;
}

.container-wide {
  padding: 20px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  min-height: 100vh;
  background-image: linear-gradient(#ffffff, #fff 70%, #d1dce8 140%);
  background-attachment: fixed;
}

.main-centered {
  padding: 0 40px;
  text-align: center;
  outline: 1px solid green;
}

h1, h2 {
  font-family: "Ubuntu", Arial, sans-serif;
  margin: 0;
}


h1 {
  font-size: 36px;
}

h2 {
  font-size: 21px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  border-radius: 14px;
  border: none;
}

.btn-blue {
  width: 100%;
  background-color: #1357E0;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.btn-icon {
  height: 20px;
  border: none;
  background-position: center;
  background-size: cover;
}

.btn-close-wrapper {
  text-align: right;
}

.btn-close {
  width: 20px;
  background-image: url("assets/icon-close.png");
}

.btn-back {
  width: 12px;
  background-image: url("assets/icon-back.png");
}

.btn-search {
  width: 17px;
  height: 17px;
  background-image: url("assets/icon-search.png");
}

.highlight {
  background-color: #ffe401;
}

/* login page */
.main-centered {
  padding-top: 20px;
}

.main-centered label, 
.main-centered input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #252525;
  text-align: left;
}

.main-centered label {
  margin-bottom: 5px;
  margin-top: 22px;
}

.main-centered input {
  padding: 16px;
  border: 1px solid #979797;
  border-radius: 14px;
}

.main-centered .btn {
  margin-top: 35px;
  margin-bottom: 15px;
}

.main-centered a {
  display: block;
  margin-bottom: 18px;
}


/* categories page */
#categories-nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.cat {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #252525;
}

.red-cat {
  background-color: #ffd2d2;
}

.green-cat {
 background-color: #bde1d8;
}

.blue-cat {
  background-color: #d7e6fd;
}

.tan-cat {
  background-color: #fff2e3;
}

#collection {
  list-style: none;
  margin: 0;
  padding: 0;
}

#collection li {
  position: relative;
  width: 270px;
  padding: 95px 35px 17px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: burlywood;
  background-size: initial;
  background-position: left;
}

.books-collection {
  font-size: 28px;
  color: #252525;
  margin-top: 35px;
  margin-bottom: 7px;
}

.collection-heading {
  margin: 0;
  color: white;
  font-size: 16px;
  flex-shrink: 2;
  line-height: 20px;
}

.books-amount {
  position: absolute;
  bottom: 17px;
  right: -10px;
  width: 45px;
  height: 45px;
  padding-top: 5px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
}

.books-amount p {
  margin: 0;
}

.books-amount_amount {
  color: #1357E0;
  font-size: 21px;
  font-weight: bold;
}

.books-amount_text {
  font-size: 10px;
}



footer {
  position: fixed;
  bottom: 0;
  width: 320px;
  margin-left: -20px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer li {
  width: 25%;
  padding-top: 23px;;
  text-align: center;
  /* outline: 1px solid orange; */
  font-size: 10px;
  min-height: 50px;
}